<?xml version="1.0"?>
<robot name="mobo_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find mobo_bot_description)/urdf/urdf_models/box_with_fillet_macro.xacro"/>
    <xacro:include filename="$(find mobo_bot_description)/urdf/urdf_models/drive_wheel_macro.xacro"/>
    <xacro:include filename="$(find mobo_bot_description)/urdf/urdf_models/drive_wheel_rim_macro.xacro"/>
    <xacro:include filename="$(find mobo_bot_description)/urdf/urdf_models/sonar.xacro"/>
    <xacro:include filename="$(find mobo_bot_description)/urdf/urdf_models/lidar.xacro"/>
    <xacro:include filename="$(find mobo_bot_description)/urdf/urdf_models/cam.xacro"/>

    <xacro:property name="chassis_length" value="0.22"/>
    <xacro:property name="chassis_width" value="0.20"/>
    <xacro:property name="chassis_height" value="0.05"/>
    <xacro:property name="slab_height" value="0.005"/>
    <xacro:property name="chassis_mass" value="2.0"/>
    <xacro:property name="chassis_color" value="orange"/>

    <xacro:property name="wheel_seperation" value="0.236"/>
    <xacro:property name="wheel_radius" value="0.034"/>
    <xacro:property name="wheel_width" value="0.026"/>
    <xacro:property name="wheel_mass" value="0.08"/>

    <xacro:property name="wheel_height_offset" value="0.025"/>

    <xacro:property name="wheel_base_dist" value="0.12"/>

    


    <link name="base_link">  
    </link>


    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0 0 ${wheel_radius+wheel_height_offset}"/>
    </joint>

    <link name="chassis">
        <xacro:insert_box_with_fillet x="0" y="0" z="0" 
            size_x="${chassis_length}" size_y="${chassis_width}" size_z="${slab_height}" 
            fillet_radius="0.025"/>
        <xacro:insert_box_with_fillet x="0" y="0" z="${chassis_height}" 
            size_x="${chassis_length}" size_y="${chassis_width}" size_z="${slab_height}" 
            fillet_radius="0.02"/>

        <visual>
            <origin xyz="0.09 0.08 ${chassis_height/2}" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.004" length="${chassis_height}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <visual>
            <origin xyz="0.09 -0.08 ${chassis_height/2}" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.004" length="${chassis_height}"/>
            </geometry>
            <material name="orange"/>
        </visual>

        <visual>
            <origin xyz="-0.09 0.08 ${chassis_height/2}" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.004" length="${chassis_height}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <visual>
            <origin xyz="-0.09 -0.08 ${chassis_height/2}" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.004" length="${chassis_height}"/>
            </geometry>
            <material name="orange"/>
        </visual>

        <collision>
           <origin xyz="0 0 ${chassis_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${chassis_mass}" x="${chassis_length}" y="${chassis_width}" z="${chassis_height}">
            <origin xyz="0 0 ${chassis_height/2}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>






    <xacro:insert_drive_wheel 
        base_name="front_left_wheel" 
        parent_name="base_link" 
        x="${wheel_base_dist/2}" y="${wheel_seperation/2}" z="${wheel_radius}"
        mass="${wheel_mass}"
        radius="${wheel_radius}"
        thickness="${wheel_width}"/>

    <xacro:insert_drive_wheel_rim
        base_name="front_left_rim" 
        parent_name="front_left_wheel" 
        radius="${wheel_radius}"
        thickness="${wheel_width}"
        spoke_width="0.005"/>



    <xacro:insert_drive_wheel 
        base_name="front_right_wheel" 
        parent_name="base_link" 
        x="${wheel_base_dist/2}" y="${-wheel_seperation/2}" z="${wheel_radius}"
        mass="${wheel_mass}"
        radius="${wheel_radius}"
        thickness="${wheel_width}"/>
    
    <xacro:insert_drive_wheel_rim
        base_name="front_right_rim" 
        parent_name="front_right_wheel" 
        radius="${wheel_radius}"
        thickness="${wheel_width}"
        spoke_width="0.005"/>







    <xacro:insert_drive_wheel 
        base_name="rear_left_wheel" 
        parent_name="base_link" 
        x="${-wheel_base_dist/2}" y="${wheel_seperation/2}" z="${wheel_radius}"
        mass="${wheel_mass}"
        radius="${wheel_radius}"
        thickness="${wheel_width}"/>

    <xacro:insert_drive_wheel_rim
        base_name="rear_left_rim" 
        parent_name="rear_left_wheel" 
        radius="${wheel_radius}"
        thickness="${wheel_width}"
        spoke_width="0.005"/>



    <xacro:insert_drive_wheel 
        base_name="rear_right_wheel" 
        parent_name="base_link" 
        x="${-wheel_base_dist/2}" y="${-wheel_seperation/2}" z="${wheel_radius}"
        mass="${wheel_mass}"
        radius="${wheel_radius}"
        thickness="${wheel_width}"/>
    
    <xacro:insert_drive_wheel_rim
        base_name="rear_right_rim" 
        parent_name="rear_right_wheel" 
        radius="${wheel_radius}"
        thickness="${wheel_width}"
        spoke_width="0.005"/>







    <xacro:property name="lidar_z_offset" value="0.04"/>
    <xacro:insert_lidar 
        base_name="lidar" 
        parent_name="chassis" 
        x="0.05" y="0" z="${chassis_height+lidar_z_offset}"
        mass="0.1"/>
    


    <xacro:property name="imu_height" value="0.02"/>
    <joint name="imu_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu"/>
        <origin xyz="0.075 0 ${slab_height+imu_height}"/>
    </joint>
        
    <link name="imu"></link>



    <xacro:insert_sonar
        base_name="sonar" 
        parent_name="chassis" 
        x="0.11" y="0" z="${chassis_height/6}"
        mass="0.005"/>


    <xacro:insert_camera
        base_name="camera" 
        parent_name="chassis" 
        x="0.11" y="0" z="${chassis_height+0.015}"
        mass="0.005" tilt_angle="0.00"/>     
    
</robot>